<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeroSide</key>
	<dict>
		<key>xLocation</key>
		<integer>2</integer>
		<key>yLocation</key>
		<integer>2</integer>
		<key>width</key>
		<integer>18</integer>
		<key>height</key>
		<integer>75</integer>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>0</real>
		<key>originalWidth</key>
		<integer>18</integer>
		<key>originalHeight</key>
		<integer>75</integer>
	</dict>
	<key>HeroFront</key>
	<dict>
		<key>xLocation</key>
		<integer>22</integer>
		<key>yLocation</key>
		<integer>2</integer>
		<key>width</key>
		<integer>36</integer>
		<key>height</key>
		<integer>75</integer>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>0</real>
		<key>originalWidth</key>
		<integer>36</integer>
		<key>originalHeight</key>
		<integer>75</integer>
	</dict>
</dict>
</plist>
